@import '../../node_modules/swiper/swiper-bundle.css';
.customer-reviews__container {
  padding-bottom: 40px;
  padding-top: 40px;
}

.swiper {
  padding-bottom: 20px;
}

.swiper-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet,
.swiper-pagination-horizontal.swiper-pagination-bullets .swiper-pagination-bullet {
  margin: 0 9px;
}

.swiper-slider__box {
  position: relative;
  background-color: $bg-reviews;
  padding: 71px 50px 10px;

  &::before {
    position: absolute;
    content: '';
    background-image: url(../images/slider/swiper_quotes.svg);
    width: 54px;
    height: 40px;
    display: block;
    top: 30px;
    left: 68px;
  }

  &::after {
    position: absolute;
    content: '';
    background-image: url(../images/slider/slider-dots.svg);
    width: 32px;
    height: 4px;
    display: block;
    bottom: -30px;
    left: 50%;
    transform: translateX(-50%);
  }
}

.swiper-slide__image {
  margin: 0 auto 29px;
}

.swiper-slide__comment {
  background-image: repeating-linear-gradient(
    to bottom,
    transparent,
    transparent 30px,
    $line 30px,
    $line 31px
  );

  padding: 4px 12px 7px;
  margin: -28px auto 0;
  font-family: $font-primary;
  font-weight: 500;
  font-size: 12px;
  line-height: 31px;
  text-align: center;
  position: relative;
}

.swiper-slider__label {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 77px;
  margin-top: 30px;
}

.swiper-pagination-bullet {
  background: $markers-slider;
  opacity: 1;
  width: 12px;
  height: 12px;
}

.swiper-pagination-bullet-active {
  background: $markers-house;
  background-image: url(../images/slider/house-icon.svg);
  background-size: contain;
  background-repeat: no-repeat;
  border-radius: 0;
  background-color: transparent;
}

.swiper-slider__name {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.86;
  text-align: center;
}

.swiper-button-prev,
.swiper-button-next {
  opacity: 0;
  position: absolute;
  width: 33.33%;
  height: 50%;
  top: 50%;
}

.swiper-button-next {
  transform: translate(50%, -50%);
}

.swiper-button-prev {
  transform: translate(-50%, -50%);
}

@media screen and (min-width: 768px) {
  .customer-reviews__container {
    padding: 60px 74px;
  }

  .swiper-slide__image {
    margin-bottom: 19px;
  }

  .swiper-slider__box {
    padding: 43px 38px 12px;
    &::after {
      bottom: -24px;
    }
  }

  .swiper-slide__comment {
    margin-top: 0;
    font-size: 14px;
    letter-spacing: 0.04em;
    padding: 4px 32px 10px;
  }

  .swiper-slider__label {
    height: 78px;
    margin-top: 24px;
  }

  .swiper-slider__name {
    font-size: 16px;
  }
}

@media screen and (min-width: 1280px) {
  .customer-reviews__container {
    padding: 60px 177px;
  }

  .swiper-slide__image {
    margin-bottom: 15px;
  }

  .swiper-slider__box {
    padding: 47px 52px 32px;
    &::before {
      top: 32px;
      left: 50px;
    }
    &::after {
      bottom: -15px;
    }
  }

  .swiper-slide__comment {
    font-size: 16px;
    letter-spacing: 0.04em;
    padding: 4px 35px 0 28px;
  }

  .swiper-slider__label {
    height: 85px;
    margin-top: 15px;
  }

  .swiper-slider__name {
    font-size: 20px;
  }
}
