.footer-section {
  background-color: #fff5f6;
}

.footer__socialLinks {
  width: 32px;
  height: 32px;
  border-radius: 50%;
}

.footer__socialIcon {
  background-color: #fea5bb;
  border-radius: 50%;
}
