.pageheader {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding-top: 6px;
  padding-bottom: 15px;
  background-color: $bg-hero;
}
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  margin-right: 110px;
}

.menu-button {
  width: 20px;
  height: 20px;
  position: relative;
  border: transparent;
  background-color: $bg-hero;
  z-index: 50;
  overflow: hidden;
  @include transit(all);

  & span {
    width: 20px;
    height: 1px;
    position: absolute;
    top: 50%;
    left: 50%;
    background-color: $font-accent;
    transform: translate(-50%, -50%);
  }

  & span:nth-of-type(2) {
    top: calc(50% - 6px);
  }

  & span:nth-of-type(3) {
    top: calc(50% + 6px);
  }

  @include respond-to(desktop) {
    display: none;
  }
}

.menu-button.is-open span:first-child {
  transform: translateX(100%);
}

.menu-button.is-open span:nth-child(2) {
  top: 50%;
  transform: translate(-50%, -50%) rotate(45deg);
}

.menu-button.is-open span:nth-child(3) {
  top: 50%;
  transform: translate(-50%, -50%) rotate(-45deg);
}

.menu-container {
  /*display: block;*/
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #e17992;
  padding: 24px;

  @include respond-to(mobile) {
    width: 100%;
  }

  @include respond-to(desktop) {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row-reverse;
    background-color: $bg-hero;
  }
}

.button__header {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $bg-button-first;
  width: 209px;
  height: 44px;
  border-radius: 22px;
  border-color: transparent;
  width: 209px;
  height: 44px;
  margin-bottom: 20px;

  @include respond-to(tablet) {
    width: 186px;
  }

  @include respond-to(desktop) {
    width: 159px;
    margin-bottom: 0;
  }

  .button__text,
  .button__sign {
    display: flex;
    justify-content: center;
    align-items: baseline;
    color: $font-accent;
    font-weight: 900;
    font-size: 16px;
    line-height: 21px;
  }

  .button__sign {
    margin-left: 15px;
  }
}

.navigation-links {
  @include respond-to(desktop) {
    display: flex;
  }
}

.navigation-links__item {
  font-weight: bold;
  font-size: 14px;
  line-height: 1.29;
  color: $bg-section-primary;
  padding-top: 12px;
  padding-bottom: 12px;
  border: 1px solid #e18298;

  @include transit(color);

  &:hover,
  &:focus,
  &:active {
    color: $font-accent;
  }

  @include respond-to(desktop) {
    margin-left: 35px;
    border: none;
    &:first-child {
      margin-left: 0;
    }
  }
}
