.hero-section {
  background-color: $bg-hero;
}
.hero-container {
  position: relative;
  padding-top: 135px;
  padding-bottom: 160px;

  background-image: url(../images/hero/elipse/Ellipse-mob.png);
  background-repeat: no-repeat;
  background-position: right center;
}

.header__title {
  position: relative;
  z-index: 2;

  margin-bottom: 20px;

  font-family: Titan One;
  font-style: normal;
  font-weight: normal;

  color: $font-white;

  text-transform: uppercase;
  @include respond-to(mobile-only) {
    width: 218px;

    font-size: 26px;
    line-height: 1.15;
    letter-spacing: 0.04em;
  }
}

.header__title--accentWord {
  @include respond-to(mobile-only) {
    font-size: 48px;
    line-height: 0.958;
    color: $bgsocial-hover;
  }
}

.hero__buttonList {
  position: relative;
  z-index: 2;
  display: flex;
}
.hero__buttonItem {
  &:not(:last-child) {
    margin-right: 10px;
  }
}
.hero__button {
  margin: 0;
  padding: 10px 13px;
  background-color: $bg-button-first;
  border-radius: 22px;
  border-color: transparent;

  color: $font-accent;

  font-family: DM Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 1.2;

  cursor: pointer;
}

.hero__buttonProduct {
  background-color: $bg-button-second;
  color: $font-white;
}

.hero__main-img {
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: 1;
}
