@include respond-to(mobile-only) {
  .hero-section {
    background-color: #ffb8ca;
  }
  .container {
    overflow: hidden;
  }
  .hero {
    position: relative;
    padding-top: 27px;
    padding-bottom: 75px;
  }

  .maine-box {
    position: absolute;
    z-index: 1;
    left: 0;
    bottom: +35%;
  }
  .box-text-title {
    width: 164px;
  }
  .hero__title {
    font-family: Titan One;
    font-style: normal;
    font-weight: normal;
    font-size: 26px;
    line-height: 30px;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    color: #ffffff;
  }
  .hero__secondary-title {
    font-family: Titan One;
    font-style: normal;
    font-weight: normal;
    font-size:48px; 
    line-height:0.96;
    text-align: center;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    color: #d41443;
  }

  .hero__title--accent {
    color: $font-accent;
    @include text(48px, 0.96);
  }

  .hero__list {
    display: flex;
    margin-top: 19px;
  }
  .hero__item + .hero__item {
    margin-left: 8px;
  }

  // основные кнопки
  .hero__button-Products {
    font-size: 8px;
    line-height: 10px;
    padding-top: 7px;
    padding-bottom: 7px;
    padding-left: 14px;
    padding-right: 14px;
    border-radius: 20px;
    border: 0px;
    @include centered;
    color: #ffffff;
    background: #d41443;
    transition: background-color 250ms $cubic;
    &:hover,
    :focus {
      background: #c7133e;
    }
  }

  .hero__button {
    font-size: 8px;
    line-height: 10px;
    padding-top: 7px;
    padding-bottom: 7px;
    padding-left: 14px;
    padding-right: 14px;
    border-radius: 20px;
    border: 0px;
    @include centered;
    color: #d41443;
    background: #ffffff;
    transition: background-color 250ms $cubic;
    &:hover,
    :focus {
      background: #ecebeb;
    }
  }

  .elipse {
    position: relative;
    left: 20px;
    display: block;
    width: 346px;
    height: 344px;
    border-radius: 50%;
    background-color: #ffa5ba;
  }

  .hero__main-img {
    z-index: 0;
    position: absolute;
    right: +28%;
    bottom: -22%;
    width: 171px;
    height: 410px;
    display: block;
  }

  .hero__button-arrow {
    display: none;
  }
  .box-secodary {
    display: none;
  }
  .box-elipse {
    display: none;
  }
  .hero__iceCreamGirl-img {
    display: none;
  }
  .hero__bottle-img {
    display: none;
  }
  .hero__text {
    display: none;
  }
}
// -------------------------Tablet------------------------------
@media (min-width: 768px) and (max-width: 1279px) {
  .hero-section {
    background-color: #ffb8ca;
  }
  .conteiner {
    width: 1280px;
    margin-left: 15px;
    margin-right: 15px;
  }
  .hero {
    display: flex;
  }
  .maine-box {
    position: relative;
    display: flex;
    flex-direction: column;
    padding-top: 15px;
    padding-bottom: 15px;
    // margin-right: 39px;
  }

  .hero__title {
    font-family: Titan One;
    font-style: normal;
    font-weight: normal;
    font-size: 22px;
    line-height: 25px;
    letter-spacing: 0.04em;
    text-transform: uppercase;

    color: #ffffff;
  }
  .hero__secondary-title {
    font-family: Titan One;
    font-style: normal;
    font-weight: normal;
    font-size: 34px;
    line-height: 39px;
    text-align: center;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    color: #d41443;
    margin: 0;
    padding: 0;
  }
  .hero__title--accent {
    color: $font-accent;
    @include text(34px, 0.9);
  }
  // основные кнопки
  .hero__list {
    display: flex;
    margin-top: 20px;
  }
  .hero__item + .hero__item {
    margin-left: 8px;
  }
  .hero__button-Products {
    font-size: 8px;
    line-height: 10px;
    padding-top: 7px;
    padding-bottom: 7px;
    padding-left: 15px;
    padding-right: 15px;
    border-radius: 20px;
    border: 0px;
    @include centered;
    color: #ffffff;
    background: #d41443;
    transition: background-color 250ms $cubic;
    &:hover,
    :focus {
      background: #c7133e;
    }
  }

  .hero__button {
    font-size: 8px;
    line-height: 10px;
    padding-top: 7px;
    padding-bottom: 7px;
    padding-left: 15px;
    padding-right: 15px;
    border-radius: 20px;
    border: 0px;
    @include centered;
    color: #d41443;
    background: #ffffff;
    transition: background-color 250ms $cubic;
    &:hover,
    :focus {
      background: #ecebeb;
    }
  }

  .box-secodary {
    display: flex;
    align-items: center;
    
  }

  .hero__text {
    font-family: DM Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 8px;
    line-height: 150%;
    color: #ffffff;
  }

  // белые 2 эллипса и цифры

  // .box-elipse{
  //   margin-left: px;
  //   margin-right: auto;
  //   padding-top: px;
  //   padding-bottom: px;
  // }

  .white-elipse-first {
    display: block;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    background-color: #ffffff;
    margin-bottom: 35px;
  }
  .white-elipse-second {
    display: block;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    background-color: #ffffff;
  }

  .white-elipse-first {
    position: relative;
  }
  .white-elipse-second {
    position: relative;
  }

  .box {
    position: absolute;
    right: +56%;
    top: +5%;
  }
  .box__number {
    font-family: Titan One;
    font-style: normal;
    font-weight: normal;
    font-size: 28px;
    line-height: 32px;
    text-align: right;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    color: #d41443;
  }
  .box-tex {
    position: absolute;
    right: -55px;
    bottom: +11%;
  }
  .box__text {
    font-family: DM Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 8px;
    line-height: 10px;
    text-align: right;
    color: #ffffff;
  }

  .hero__button-arrow {
    width: 18px;
    height: 18px;
    border-radius: 50%;
    border: 0px;
    margin-top: 7px;
    @include centered;
    color: #d41443;
    background: #ffffff;
    @include transit(transform);
    &:hover {
      transform: scale(1.3);}
    } 

    
  .hero__svg {
    fill: currentColor;
    width: 5px;
    height: 5px;
  }

  .hero__bottle-img {
   
    margin-top: 19px;
    margin-right: 0px;
  }

  .elipse {
    position: relative;
    top: -57px;
    z-index: 0;
    margin-left: 106px;
    display: block;
    min-width: 324px;
    height: 322px;
    border-radius: 50%;
    background-color: #ffa5ba;
  }
  .hero__main-img {
    position: absolute;
    left: +20%;
    bottom: -57px;
  }
  .box-elipse {
    margin-left: 87px;
    margin-right: auto;
    padding-top: 0px;
    // padding-bottom: px;
  }
  .hero__iceCreamGirl-img {
    position: absolute;
    right: -28%;
    bottom: -57px;
    width: 168px;
    height: 133px;
    display: block;
    max-width: 100%;
    height: auto;
  }
}
// ------------------------------Des-------------------------------
@media (min-width: 1280px) {
  .hero-section {
    background-color: #ffb8ca;
  }

  .hero {
    display: flex;
  }
  .maine-box {
    position: relative;

    padding-top: 42px;
    padding-bottom: 56px;
    margin-right: 83px;
  }
  .hero__title {
    font-family: Titan One;
    font-style: normal;
    font-weight: normal;
    font-size: 38px;
    line-height: 44px;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    color: #ffffff;
  }
  .hero__secondary-title {
    font-family: Titan One;
    font-style: normal;
    font-weight: normal;
    font-size: 58px;
    line-height: 66px;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    text-align: start;

    color: #d41443;
  }
  .hero__title--accent {
    color: $font-accent;
    @include text(58px, 0.9);
  }
  .hero__list {
    display: flex;
    margin-top: 25px;
  }
  .hero__item + .hero__item {
    margin-left: 15px;
  }

  .hero__button-Products {
    font-size: 14px;
    line-height: 18px;
    border-radius: 20px;
    border: 0px;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 20px;
    padding-right: 20px;
    @include centered;
    color: #ffffff;
    background: #d41443;
    transition: background-color 250ms $cubic;
    &:hover,
    :focus {
      background: #c7133e;
    }
  }

  .hero__button {
    font-size: 14px;
    line-height: 18px;
    border-radius: 20px;
    border: 0px;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 20px;
    padding-right: 20px;
    @include centered;
    color: #d41443;
    background: #ffffff;
    transition: background-color 250ms $cubic;
    &:hover,
    :focus {
      background: #ecebeb;
    }
  }
  .box-secondary {
    display: flex;
    align-items: center;
    margin-top: 36px;
  }
  .box-text-title {
    text-align: start;
  }

  .hero__text {
    display: block;
    font-family: DM Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 140%;
    color: #ffffff;
  }

  .hero__button-arrow {
    width: 26px;
    height: 26px;
    border-radius: 50%;
    border: 0px;
    margin-top: 20px;
    @include centered;
    color: #d41443;
    background: #ffffff;
    @include transit(transform);
    &:hover {
      transform: scale(1.3);}
  }

  .hero__svg {
    fill: currentColor;
    width: 7px;
    height: 7px;
  }

  // белые 2 эллипса и цифры

  .box-elipse {
    margin-left: 140px;
    margin-right: auto;
    padding-top: 40px;
    // padding-bottom: px;
  }
  .white-elipse-first {
    display: block;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: #ffffff;
    margin-bottom: 62px;
  }
  .white-elipse-second {
    display: block;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: #ffffff;
  }

  .white-elipse-first {
    position: relative;
  }
  .white-elipse-second {
    position: relative;
  }

  .box {
    position: absolute;
    right: +56%;
    top: +5%;
  }
  .box__number {
    font-family: Titan One;
    font-style: normal;
    font-weight: normal;
    font-size: 46px;
    line-height: 53px;
    text-align: right;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    color: #d41443;
  }
  .box__text {
    font-family: DM Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 18px;
    text-align: right;
    color: #ffffff;
  }

  .box-tex {
    position: absolute;
    right: -30%;
    bottom: +10%;
    min-width: 190px;
  }

  // картинки

  .elipse {
    position: relative;
    top: -70px;
    z-index: 0;

    display: block;
    min-width: 538px;
    height: 538px;
    border-radius: 50%;
    background-color: #ffa5ba;
  }
  .hero__main-img {
    position: absolute;
    bottom: -84px;
    left: 23%;
  }
  .hero__iceCreamGirl-img {
    position: absolute;

    bottom: -84px;

    left: 80%;
  }
}
