.products__label {
  font-family: $font-title;
  font-size: 18px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.04em;

  color: $font-label;

  @media screen and (min-width: 768px) {
    font-size: 26px;
    line-height: 1.15;
  }

  @media screen and (min-width: 1280px) {
    font-size: 34px;
    line-height: 1.13;
  }
}

.products__title {
  text-align: center;

  font-size: 34px;
  line-height: 1.15;

  @media screen and (min-width: 768px) {
    font-size: 48px;
  }

  @media screen and (min-width: 1280px) {
    font-size: 58px;
    line-height: 1.14;
  }
}
.products__section {
  padding-top: 40px;
  padding-bottom: 40px;
  //   @media screen and (min-width: 768px) {
  //     padding-top: 40px;
  //     padding-bottom: 120px;
  //   }
}
.products__title {
  margin-bottom: 138px;

  //   @media screen and (min-width: 768px) {
  //     margin-bottom: 138px;
  //   }

  @media screen and (min-width: 1280px) {
    margin-bottom: 226px;
  }
}
.products__list {
  @media screen and (min-width: 768px) {
    display: flex;
  }
}
.products__subtitle {
  margin-bottom: 66px;

  font-family: $font-title;
  font-weight: 400;
  font-size: 20px;
  line-height: 1.15;
  letter-spacing: 0.04em;
  text-transform: uppercase;

  color: $font-white;

  &::after {
    content: ' ';
    position: absolute;
    background-image: url(/images/products/products-3dots.svg);
    background-size: 26px 6px;
    top: 215px;
    left: 50%;

    transform: translate(-50%, -50%);

    width: 26px;
    height: 6px;

    @media screen and (min-width: 768px) {
      top: 205px;
    }
    @media screen and (min-width: 1280px) {
      font-size: 30px;
      line-height: 1.13;
      margin-bottom: 70px;

      top: 229px;
    }
  }
}

.products__item {
  flex-direction: column;
  text-align: center;

  position: relative;
  width: 280px;
  margin-left: auto;
  margin-right: auto;

  margin-bottom: 130px;
  &:last-child {
    margin-bottom: 0;
  }
  padding: 163px 40px 40px 40px;

  border-radius: 24px;

  &::before {
    content: '';
    display: block;
    position: absolute;
    top: 10px;
    left: 50%;
    transform: translate(-50%, -50%);

    background-repeat: no-repeat;
    background-size: 249px 252px;

    width: 249px;
    height: 252px;
    @media screen and (min-width: 768px) {
      background-size: 220px 226px;
      width: 220px;
      height: 226px;
    }

    @media screen and (min-width: 1280px) {
      background-size: 335px 335px;
      top: -9%;
      width: 335px;
      height: 335px;
    }
  }

  @media screen and (min-width: 768px) {
    margin-bottom: 0;
    width: calc((100% - 2 * 20px) / 3);

    &:not(:last-child) {
      margin-right: 20px;
    }

    padding: 152px 11px 40px 11px;
  }

  @media screen and (min-width: 1280px) {
    margin-bottom: 0;
    width: calc((100% - 2 * 22px) / 3);

    &:not(:last-child) {
      margin-right: 22px;
    }

    padding: 163px 44px 40px 44px;
  }
}

.products__item--pink {
  background-color: $bg-content-first;

  &::before {
    background-image: url(../images/products/product1/mob-249.png);

    @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
      background-image: url(../images/products/product1/mob-498@2x.png);
    }

    @media screen and (min-width: 768px) {
      background-image: url(../images/products/product1/tab-220.png);

      @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
        background-image: url(../images/products/product1/tab-440@2x.png);
      }
    }

    @media screen and (min-width: 1280px) {
      background-image: url(../images/products/product1/desc-335.png);

      @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
        background-image: url(../images/products/product1/desc-670@2x.png);
      }
    }
  }
}

.products__item--yellow {
  background-color: $bg-content-second;

  &::before {
    background-image: url(../images/products/product2/product2-mob-249.png);

    @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
      background-image: url(../images/products/product2/product2-mob-498@2x.png);
    }
    @media screen and (min-width: 768px) {
      background-image: url(../images/products/product2/product2-tab-220.png);

      @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
        background-image: url(../images/products/product2/product2-tab-440@2x.png);
      }
    }

    @media screen and (min-width: 1280px) {
      background-image: url(../images/products/product2/product2-desc-335.png);

      @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
        background-image: url(../images/products/product2/product2-desc-670@2x.png);
      }
    }
  }
}

.products__item--green {
  background-color: $bg-content-third;

  &::before {
    background-image: url(../images/products/product3/product3-mob-249.png);

    @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
      background-image: url(../images/products/product3/product3-mob-498@2x.png);
    }
    @media screen and (min-width: 768px) {
      background-image: url(../images/products/product3/product3-tab-220.png);

      @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
        background-image: url(../images/products/product3/product3-tab-440@2x.png);
      }
    }

    @media screen and (min-width: 1280px) {
      background-image: url(../images/products/product3/product3-desc-335.png);

      @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
        background-image: url(../images/products/product3/product3-desc-670@2x.png);
      }
    }
  }
}

.products__text {
  font-weight: bold;
  font-size: 14px;
  line-height: 1.52;
  letter-spacing: 0.04em;

  margin-bottom: 30px;

  overflow: hidden;
  height: 248px;

  color: $font-white;

  @media screen and (min-width: 768px) {
    // height: 124px;
    line-height: 1.76;

    margin-bottom: 40px;
  }

  @media screen and (min-width: 1280px) {
    // height: 106px;

    margin-bottom: 62px;

    font-size: 16px;
  }
}

.products__button {
  cursor: pointer;
  margin-left: auto;
  margin-right: auto;
  padding: 0;

  width: 40px;
  height: 40px;

  border: 1px solid $bg-section-primary;
  border-radius: 50%;
  background-color: $bg-section-primary;

  @include transit(transform);

  &:hover {
    transform: scale(1.3);
  }
}

.products__button--flex {
  @include centered;
}
.products__icon {
  cursor: pointer;
  width: 11px;
  height: 9px;

  fill: $font-accent;

  @include transit(transform);

  .products__button:hover & {
    transform: scale(1.9);
  }
}
