/*
 * Главный файл стилей.
 * Все паршалы подключаются сюда.
 */

// Стили для файла с примером HTML-фрагмента

@import './utils/variables';
@import './utils/breakpoints';
@import './utils/mixins';
@import './base/common';
@import './header';
@import './hero';
@import './products';
@import './about';
@import './modal-about';
@import './advantages';
@import './gallery';
@import './customer-reviews';
@import './contacts';
@import './popup-contacts';
@import './footer';
