$breakpoints: (
  'mobile': (
    min-width: 480px,
  ),
  'mobile-only': (
    max-width: 767px,
  ),
  'tablet': (
    min-width: 768px,
  ),
  'tablet-only': (
    max-width: 1279px,
  ),
  'desktop': (
    min-width: 1280px,
  ),
) !default;
