$bg-hero: #ffb8ca;
$bg-ellips-hero: #fea5bb;
$bg-section-primary: #ffffff;
$bg-section-secondary: #fff5f6;

$bg-menu: #e17992;

$bg-button-first: #ffffff;
$bg-button-second: #d41342;
$bg-button-hover: #ecebeb;

$bg-content-first: #ffb8ca;
$bg-content-second: #f0d1a5;
$bg-content-third: #c2e297;
$bg-social: #fea5bb;
$bgsocial-hover: #d41443;
$bg-reviews: #fafafa;

$font-white: #ffffff;
$font-accent: #d41443;
$font-label: #ffa5ba;
$font-black: #000000;
$font-grey: #907e82;

$ellipsis-reviews: #c7133e;
$markers-slider: #d9d9d9;
$markers-house: #d31342;

$line: #e1e1e1;

$line-menu: #e18298;

$contacts-box-shadow: rgba(212, 20, 67, 0.1);

$font-primary: DM Sans, sans-serif;
$font-title: Titan One, cursive;
