<section class="section section__advantages">
    <div class="container">
        <h2 class="title advatages__title">
            Advantages
        </h2>

        <!--Mobile-->
        <ul class="list advatages__list">
            <li class="advatages__item">
                <h3 class="title advatages__item-title">
                    721
                </h3>
                <p class="advatages__description">
                    Aliquam ac dui vel dui vulputate consectetur. Mauris massa.
                </p>
            </li>

            <li class="advatages__item">
                <h3 class="title advatages__item-title">
                    16kg
                </h3>
                <p class="advatages__description">
                    Aliquam ac dui vel dui vulputate consectetur. Mauris massa.
                </p>
            </li>

            <li class="advatages__item">
                <h3 class="title advatages__item-title">
                    84
                </h3>
                <p class="advatages__description">
                    Aliquam ac dui vel dui vulputate consectetur. Mauris massa.
                </p>
            </li>
        </ul>
    </div>
</section>