<section class="section advantages__section">
    <div class="container">
        <h2 class="title advantages__title">
            Advantages
        </h2>

        <!--Mobile-->
        <ul class="list advantages__list">
            <li class="advantages__item">
                <h3 class="title advantages__item-title">
                    721
                </h3>
                <p class="advantages__item-description">
                    Aliquam ac dui vel dui vulputate consectetur. Mauris massa.
                </p>
            </li>

            <li class="advantages__item">
                <h3 class="title advantages__item-title">
                    16kg
                </h3>
                <p class="advantages__item-description">
                    Aliquam ac dui vel dui vulputate consectetur. Mauris massa.
                </p>
            </li>

            <li class="advantages__item">
                <h3 class="title advantages__item-title">
                    84
                </h3>
                <p class="advantages__item-description">
                    Aliquam ac dui vel dui vulputate consectetur. Mauris massa.
                </p>
            </li>
        </ul>
    </div>
</section>