<section class="contacts-section" id="contacts">
  <container class="container contacts-container">
    <h2 class="visually-hidden">Contacts</h2>
    <ul class="contacts__card-set">
      <li class="contacts__set-item">
        <ul class="contacts__card">
          <li><p class="contacts__place">CAFE</p></li>
          <li class="contacts_border">
            <p class="contacts__city">Chicago</p>
            <p class="contacts__discription">
              Fusce ut velit laoreet, tempus arcu molestie vulputate
            </p>
          </li>
          <li class="contacts-card_item">
            <p class="contacts__city contacs_space">Monday - Friday</p>
            <time class="contacts__time">06:00 AM - 10:00 PM</time>
          </li>
          <li class="contacts_border contacs_space-time">
            <p class="contacts__city">Saturday - Sunday</p>
            <time class="contacts__time">08:00 AM - 16:00 PM</time>
          </li>
          <li>
            <a href="tel:+61(0) 383 766 284" class="contacts__link contacs_space"
              >+61(0) 383 766 284</a
            >
            <a href="mailto:noreply@envato.com" class="contacts__link">noreply@envato.com</a>
          </li>
        </ul>
      </li>
      <li class="contacts__set-item">
        <ul class="contacts__card">
          <li><p class="contacts__place contacts__place-background">FOODTRUCK</p></li>
          <li class="contacts_border">
            <p class="contacts__city">Los Angeles</p>
            <p class="contacts__discription">
              Fusce ut velit laoreet, tempus arcu molestie vulputate
            </p>
          </li>
          <li class="contacts-card_item">
            <p class="contacts__city contacs_space">Monday - Friday</p>
            <p class="contacts__time">06:00 AM - 10:00 PM</p>
          </li>
          <li class="contacts_border contacs_space-time">
            <p class="contacts__city">Saturday - Sunday</p>
            <p class="contacts__time">08:00 AM - 16:00 PM</p>
          </li>
          <li>
            <a href="tel:+61(0) 383 766 284" class="contacts__link contacs_space"
              >+61(0) 383 766 284</a
            >
            <a href="mailto:noreply@envato.com" class="contacts__link">noreply@envato.com</a>
          </li>
        </ul>
      </li>
      <li class="contacts__set-item">
        <ul class="contacts__card">
          <li><p class="contacts__place">CAFE</p></li>
          <li class="contacts_border">
            <p class="contacts__city">New York</p>
            <p class="contacts__discription">
              Fusce ut velit laoreet, tempus arcu molestie vulputate
            </p>
          </li>
          <li class="contacts-card_item">
            <p class="contacts__city contacs_space">Monday - Friday</p>
            <p class="contacts__time">06:00 AM - 10:00 PM</p>
          </li>
          <li class="contacts_border contacs_space-time">
            <p class="contacts__city">Saturday - Sunday</p>
            <p class="contacts__time">08:00 AM - 16:00 PM</p>
          </li>
          <li>
            <a href="tel:+61(0) 383 766 284" class="contacts__link contacs_space"
              >+61(0) 383 766 284</a
            >
            <a href="mailto:noreply@envato.com" class="contacts__link">noreply@envato.com</a>
          </li>
        </ul>
      </li>
    </ul>

    <ul class="contact__buttons-list">
      <li class="contacts__button-item">
        <button type="button" class="btn-secondary-contacts">
          <a href="#popup" class="popup__btn">Our Locations</a>

          <svg class="btn-icon" width="6px" height="8px">
            <use href="./images/spriteNata.svg#icon-arrow-white"></use>
          </svg>
        </button>
      </li>
      <li class="contacts__button-item">
        <button type="button" class="btn-primary-contacts">
          <a href="#popup" class="popup__btn">Franchise</a>

          <svg class="btn-icon" width="4px" height="8px">
            <use href="./images/spriteNata.svg#arrow_buy-now"></use>
          </svg>
        </button>
      </li>
    </ul>
  </container>
</section>
