<section class="contacts-section">
  <h3 class="title-hidden">Contacts</h3>
    <container class="container contacts-container">
       
           <div class="contacts__card">
             <p class="contacts__place">CAFE</p>
           <ul>
           <li>
              <p class="contacts__city">Chicago</p>
              <p class="contacts__discription">Fusce ut velit laoreet, tempus arcu molestie vulputate</p>
        </li>
           <li class="contacts-card_item">
              <p class="contacts__city">Monday - Friday</p>
              <time class="contacts__time">06:00 AM - 10:00 PM</time>
            </li>
             <li>
               <p class="contacts__city">Saturday - Sunday</p>
                <time class="contacts__time">08:00 AM - 16:00 PMM</time>
           </li>
              <li>
                <a href=""class="contacts__link">+61(0) 383 766 284</a>
                <a href="" class="contacts__link">noreply@envato.com</a>
              </li>
         </ul>
     </div>

    <div class="contacts__card">
        <p class="contacts__place">CAFE</p>
        <ul>
            <li>
                <p class="contacts__city">Chicago</p>
                <p class="contacts__discription">Fusce ut velit laoreet, tempus arcu molestie vulputate</p>
            </li>
            <li>
                <p class="contacts__city">Monday - Friday</p>
                <time class="contacts__time">06:00 AM - 10:00 PM</time>
            </li>
            <li>
                <p class="contacts__city">Saturday - Sunday</p>
                <time class="contacts__time">08:00 AM - 16:00 PMM</time>
            </li>
            <li>
                <a href="" class="contacts__link">+61(0) 383 766 284</a>
                <a href="" class="contacts__link">noreply@envato.com</a>
            </li>
        </ul>
    </div>

     <div class="contacts__card">
             <p class="contacts__place">CAFE</p>
           <ul>
           <li>
              <p class="contacts__city">Chicago</p>
              <p class="contacts__discription">Fusce ut velit laoreet, tempus arcu molestie vulputate</p>
        </li>
           <li>
              <p class="contacts__city">Monday - Friday</p>
              <time class="contacts__time">06:00 AM - 10:00 PM</time>
            </li>
             <li>
               <p class="contacts__city">Saturday - Sunday</p>
                <time class="contacts__time">08:00 AM - 16:00 PMM</time>
           </li>
              <li>
                <a href=""class="contacts__link">+61(0) 383 766 284</a>
                <a href="" class="contacts__link">noreply@envato.com</a>
              </li>
         </ul>
     </div>
 </container>
</section>
