<div class="customer-reviews__section">
  <!-- Slider main container -->
  <div class="container">
    <div class="swiper">
      <!-- Additional required wrapper -->
      <div class="swiper-wrapper">
        <!-- Slides -->
        <div class="swiper-slide">
          <picture
            ><img
              class="swiper-slide__image"
              src="./images/slider/pic1/85x85.jpg"
              alt="Customer-photo"
          /></picture>
          <div class="swiper-slider__box">
            <p class="swiper-slide__comment">
              Nullam viverra consectetuer. Quisque cursus et, porttitor risus. Aliquam sem. In
              hendrerit nulla quam nunc, accumsan congue. Lorem ipsum primis in nibh vel risus.
            </p>
          </div>
          <div class="swiper-slider__label">
            <p class="swiper-slider__name">Emily, Los Angeles</p>
          </div>
        </div>
        <div class="swiper-slide">
          <picture
            ><img
              class="swiper-slide__image"
              src="./images/slider/pic2/85x85.jpg"
              alt="Customer-photo"
          /></picture>
          <div class="swiper-slider__box">
            <p class="swiper-slide__comment">
              Aliquam sem. In hendrerit nulla quam nunc, accumsan congue. Quisque cursus et,
              porttitor risus. Lorem ipsum primis in nibh vel risus.
            </p>
          </div>
          <div class="swiper-slider__label">
            <p class="swiper-slider__name">Emily, Los Angeles</p>
          </div>
        </div>
        <div class="swiper-slide">
          <picture
            ><img
              class="swiper-slide__image"
              src="./images/slider/pic3/85x85.jpg"
              alt="Customer-photo"
          /></picture>
          <div class="swiper-slider__box">
            <p class="swiper-slide__comment">
              Quisque cursus et, porttitor risus. Aliquam sem. Nullam viverra consectetuer. In
              hendrerit nulla quam nunc, accumsan congue. Lorem ipsum primis in nibh vel risus.
            </p>
          </div>
          <p class="swiper-slider__name">Emily, Los Angeles</p>
        </div>
      </div>
      <!-- If we need pagination -->
      <div class="swiper-pagination"></div>

      <!-- If we need navigation buttons -->
      <div class="swiper-button-prev"></div>
      <div class="swiper-button-next"></div>

      <!-- If we need scrollbar -->
      <!-- <div class="swiper-scrollbar"></div> -->
    </div>
  </div>
</div>
