<section class="container customer-reviews__container">
  <div class="swiper">
    <div class="swiper-wrapper">
      <div class="swiper-slide">
        <picture>
          <source
            srcset="./images/slider/pic1/85x85.webp 1x, ./images/slider/pic1/85x85@2x.webp 2x"
            type="image/webp"
          />
          <source
            srcset="./images/slider/pic1/85x85.jpg 1x, ./images/slider/pic1/85x85@2x.jpg 2x"
            type="image/jpeg"
          />
          <img
            class="swiper-slide__image"
            src="./images/slider/pic1/85x85.jpg"
            alt="Customer-photo"
          />
        </picture>
        <div class="swiper-slider__box">
          <p class="swiper-slide__comment">
            Nullam viverra consectetuer. Quisque cursus et, porttitor risus. Aliquam sem. In
            hendrerit nulla quam nunc, accumsan congue. Lorem ipsum primis in nibh vel risus.
          </p>
        </div>
        <div class="swiper-slider__label">
          <p class="swiper-slider__name">Emily, Los Angeles</p>
        </div>
      </div>
      <div class="swiper-slide">
        <picture>
          <source
            srcset="./images/slider/pic2/85x85.webp 1x, ./images/slider/pic2/85x85@2x.webp 2x"
            type="image/webp"
          />
          <source
            srcset="./images/slider/pic2/85x85.jpg 1x, ./images/slider/pic2/85x85@2x.jpg 2x"
            type="image/jpeg"
          />
          <img
            class="swiper-slide__image"
            src="./images/slider/pic2/85x85.jpg"
            alt="Customer-photo"
          />
        </picture>
        <div class="swiper-slider__box">
          <p class="swiper-slide__comment">
            Aliquam sem. In hendrerit nulla quam nunc, accumsan congue. Quisque cursus et, porttitor
            risus. Lorem ipsum primis in nibh vel risus.
          </p>
        </div>
        <div class="swiper-slider__label">
          <p class="swiper-slider__name">Emily, Los Angeles</p>
        </div>
      </div>
      <div class="swiper-slide">
        <picture>
          <source
            srcset="./images/slider/pic3/85x85.webp 1x, ./images/slider/pic3/85x85@2x.webp 2x"
            type="image/webp"
          />
          <source
            srcset="./images/slider/pic3/85x85.jpg 1x, ./images/slider/pic3/85x85@2x.jpg 2x"
            type="image/jpeg"
          />
          <img
            class="swiper-slide__image"
            src="./images/slider/pic3/85x85.jpg"
            alt="Customer-photo"
          />
        </picture>
        <div class="swiper-slider__box">
          <p class="swiper-slide__comment">
            Quisque cursus et, porttitor risus. Aliquam sem. Nullam viverra consectetuer. In
            hendrerit nulla quam nunc, accumsan congue. Lorem ipsum primis in nibh vel risus.
          </p>
        </div>
        <div class="swiper-slider__label">
          <p class="swiper-slider__name">Emily, Los Angeles</p>
        </div>
      </div>
    </div>

    <!-- Пагинация -->
    <div class="swiper-pagination"></div>
  </div>
</section>
