<!-- ------------------------- footer starts---------------------------- -->
<section class="footer-section">
  <container class="footer-container">
    <div class="footer__title">
      <p class="footer__titleOne">homemade ice cream made</p>
      <p class="footer__titleTwo">with passion</p>
    </div>
    <ul></ul>
    <li>
      <a href="##" class="footer__socialLinks"
        ><svg class="footer__socialIcon" width="32" height="32">
          <use href="./images/sprite.svg#gitHub"></use>
        </svg>
      </a>
    </li>
    <li>
      <a href="https://telegram.org/" class="footer__socialLinks"
        ><svg width="32" height="32" class="footer__socialIcon">
          <use href="./images/sprite.svg#telegram"></use>
        </svg>
      </a>
    </li>
    <li>
      <a href="https://www.facebook.com/" class="footer__socialLinks"
        ><svg width="32" height="32" class="footer__socialIcon">
          <use href="./images/sprite.svg#facebook"></use>
        </svg>
      </a>
    </li>
    <p>Feel free to contact <a href="tel:+61(0)383766284">+61(0)383766284</a></p>
    <div class="footer__copyRight">
      <p>
        &#169;2019 - IceCream. <br />
        All Rights Reserved.
      </p>
    </div>
  </container>
</section>
<!-- ------------------------- footer ends---------------------------- -->
