<!-- ------------------------- footer starts---------------------------- -->
<section class="footer-section">
  <div class="container">
    <div class="footer__container">
      <div class="footer__title">
        <p class="footer__titleOne">homemade ice cream made</p>
        <p class="footer__titleTwo">with passion</p>
      </div>
      <div class="footer__containerContacts">
        <ul class="footer__socialList">
          <li class="footer__socialItem">
            <a href="##" class="footer__socialLinks"
              ><svg class="footer__socialIcon" width="32" height="32">
                <use href="./images/spriteAlex.svg#gitHub"></use>
              </svg>
            </a>
          </li>
          <li class="footer__socialItem">
            <a href="https://telegram.org/" class="footer__socialLinks"
              ><svg width="32" height="32" class="footer__socialIcon">
                <use href="./images/spriteAlex.svg#telegram"></use>
              </svg>
            </a>
          </li>
          <li class="footer__socialItem">
            <a href="https://www.facebook.com/" class="footer__socialLinks"
              ><svg width="32" height="32" class="footer__socialIcon">
                <use href="./images/spriteAlex.svg#facebook"></use>
              </svg>
            </a>
          </li>
        </ul>

        <p class="footer__contacts">
          Feel free to contact
          <a href="tel:+61(0)383766284" class="footer__contactsLink">+61(0)383766284</a>
        </p>
      </div>
    </div>
    <div class="footer__copyRight">
      <p class="footer__copyRightPeshka">&#169;2019 - IceCream.</p>
      <p class="footer__copyRightPeshka">All Rights Reserved.</p>
    </div>
  </div>
</section>
<!-- ------------------------- footer ends---------------------------- -->
