<section class="section gallery__section">
    <div class="container">
        <div class="gallery__grid">
            <div class="gallery__grid-body">
                <div class="gallery__grid-item">
                    <a href="/images/gallery/big/00.jpg" data-fancybox="gallery">
                        <picture>
                            <source srcset="/images/gallery/deckstop00.png 1x, /images/gallery/deckstop00_2x.png 2x" type="image/jpeg"
                                media="(min-width: 1280px)">
                            <source srcset="/images/gallery/tablet00.png 1x, /images/gallery/tablet00_2x.png 2x" type="image/jpeg"
                                media="(min-width: 768px)">
                            <source srcset="/images/gallery/mobile00.png 1x, /images/gallery/mobile00_2x.png 2x" type="image/jpeg"
                                media="(max-width: 767px)">
                        
                            <img src="/images/gallery/mobile00.png" alt="Green ice cream">
                        </picture>
                    </a>
                </div>

                <div class="gallery__grid-item">
                    <a href="/images/gallery/big/01.jpg" data-fancybox="gallery">
                        <picture>
                            <source srcset="/images/gallery/deckstop01.png 1x, /images/gallery/deckstop01_2x.png 2x" type="image/jpeg"
                                media="(min-width: 1280px)">
                            <source srcset="/images/gallery/tablet01.png 1x, /images/gallery/tablet01_2x.png 2x" type="image/jpeg"
                                media="(min-width: 768px)">
                            <source srcset="/images/gallery/mobile01.png 1x, /images/gallery/mobile01_2x.png 2x" type="image/jpeg"
                                media="(max-width: 767px)">
                        
                            <img src="/images/gallery/mobile01.png" alt="ice cream">
                        </picture>
                    </a>
                </div>

                <div class="gallery__grid-item">
                    <a href="/images/gallery/big/02.jpg" data-fancybox="gallery">
                        <picture>
                            <source srcset="/images/gallery/deckstop02.png 1x, /images/gallery/deckstop02_2x.png 2x" type="image/jpeg"
                                media="(min-width: 1280px)">
                            <source srcset="/images/gallery/tablet02.png 1x, /images/gallery/tablet02_2x.png 2x" type="image/jpeg"
                                media="(min-width: 768px)">
                            <source srcset="/images/gallery/mobile02.png 1x, /images/gallery/mobile02_2x.png 2x" type="image/jpeg"
                                media="(max-width: 767px)">
                        
                            <img src="/images/gallery/mobile02.png" alt="Pink ice cream">
                        </picture>
                    </a>
                </div>

                <div class="gallery__grid-item">
                    <a href="/images/gallery/big/03.jpg" data-fancybox="gallery">
                        <picture>
                            <source srcset="/images/gallery/deckstop03.png 1x, /images/gallery/deckstop03_2x.png 2x" type="image/jpeg"
                                media="(min-width: 1280px)">
                            <source srcset="/images/gallery/tablet03.png 1x, /images/gallery/tablet03_2x.png 2x" type="image/jpeg"
                                media="(min-width: 768px)">
                            <source srcset="/images/gallery/mobile03.png 1x, /images/gallery/mobile03_2x.png 2x" type="image/jpeg"
                                media="(max-width: 767px)">
                        
                            <img src="/images/gallery/mobile03.png" alt="Much ice cream">
                        </picture>
                    </a>
                </div>

                <div class="gallery__grid-item">
                    <a href="/images/gallery/big/04.jpg" data-fancybox="gallery">
                        <picture>
                            <source srcset="/images/gallery/deckstop04.png 1x, /images/gallery/deckstop04_2x.png 2x" type="image/jpeg"
                                media="(min-width: 1280px)">
                            <source srcset="/images/gallery/tablet04.png 1x, /images/gallery/tablet04_2x.png 2x" type="image/jpeg"
                                media="(min-width: 768px)">
                            <source srcset="/images/gallery/mobile04.png 1x, /images/gallery/mobile04_2x.png 2x" type="image/jpeg"
                                media="(max-width: 767px)">
                        
                            <img src="/images/gallery/mobile04.png" alt="Girl eat ice cream">
                        </picture>
                    </a>
                </div>

                <div class="gallery__grid-item">
                    <a href="/images/gallery/big/05.jpg" data-fancybox="gallery">
                        <picture>
                            <source srcset="/images/gallery/deckstop05.png 1x, /images/gallery/deckstop05_2x.png 2x" type="image/jpeg"
                                media="(min-width: 1280px)">
                            <source srcset="/images/gallery/tablet05.png 1x, /images/gallery/tablet05_2x.png 2x" type="image/jpeg"
                                media="(min-width: 768px)">
                            <source srcset="/images/gallery/mobile05.png 1x, /images/gallery/mobile05_2x.png 2x" type="image/jpeg"
                                media="(max-width: 767px)">
                        
                            <img src="/images/gallery/mobile05.png" alt="Ice cream with blackbeary">
                        </picture>
                    </a>
                </div>

                <div class="gallery__grid-item">
                    <a href="/images/gallery/big/06.jpg" data-fancybox="gallery">
                        <picture>
                            <source srcset="/images/gallery/deckstop06.png 1x, /images/gallery/deckstop06_2x.png 2x" type="image/jpeg"
                                media="(min-width: 1280px)">
                            <source srcset="/images/gallery/tablet06.png 1x, /images/gallery/tablet06_2x.png 2x" type="image/jpeg"
                                media="(min-width: 768px)">
                            <source srcset="/images/gallery/mobile06.png 1x, /images/gallery/mobile06_2x.png 2x" type="image/jpeg"
                                media="(max-width: 767px)">
                        
                            <img src="/images/gallery/mobile06.png" alt="Red ice cream">
                        </picture>
                    </a>
                </div>

                <div class="gallery__grid-item">
                    <a href="/images/gallery/big/07.jpg" data-fancybox="gallery">
                        <picture>
                            <source srcset="/images/gallery/deckstop07.png 1x, /images/gallery/deckstop07_2x.png 2x" type="image/jpeg"
                                media="(min-width: 1280px)">
                            <source srcset="/images/gallery/tablet07.png 1x, /images/gallery/tablet07_2x.png 2x" type="image/jpeg"
                                media="(min-width: 768px)">
                            <source srcset="/images/gallery/mobile07.png 1x, /images/gallery/mobile07_2x.png 2x" type="image/jpeg"
                                media="(max-width: 767px)">
                        
                            <img src="/images/gallery/mobile07.png" alt="Dog lick ice cream">
                        </picture>
                    </a>
                </div>

                <div class="gallery__grid-item">
                    <a href="/images/gallery/big/08.jpg" data-fancybox="gallery">
                        <picture>
                            <source srcset="/images/gallery/deckstop08.png 1x, /images/gallery/deckstop08_2x.png 2x" type="image/jpeg"
                                media="(min-width: 1280px)">
                            <source srcset="/images/gallery/tablet08.png 1x, /images/gallery/tablet08_2x.png 2x" type="image/jpeg"
                                media="(min-width: 768px)">
                            <source srcset="/images/gallery/mobile08.png 1x, /images/gallery/mobile08_2x.png 2x" type="image/jpeg"
                                media="(max-width: 767px)">
                        
                            <img src="/images/gallery/mobile08.png" alt="Ice coffe">
                        </picture>
                    </a>
                </div>

                <div class="gallery__grid-item">
                    <a href="/images/gallery/big/09.jpg" data-fancybox="gallery">
                        <picture>
                            <source srcset="/images/gallery/deckstop09.png 1x, /images/gallery/deckstop09_2x.png 2x" type="image/jpeg"
                                media="(min-width: 1280px)">
                            <source srcset="/images/gallery/tablet09.png 1x, /images/gallery/tablet09_2x.png 2x" type="image/jpeg"
                                media="(min-width: 768px)">
                            <source srcset="/images/gallery/mobile09.png 1x, /images/gallery/mobile09_2x.png 2x" type="image/jpeg"
                                media="(max-width: 767px)">
                        
                            <img src="/images/gallery/mobile09.png" alt="Ice cake with milk">
                        </picture>
                    </a>
                </div>

            </div>
        </div>
    </div>
</section>