<header>
    <container>
        <a href="#" class="logo">
            <img
            srcset="../images/logo/199.png 1x, ../images/logo/199x2.png 2x"
            src="../images/logo/199.png"
            alt="logo">
        </a>

        <div class="menu-container">
            <button type="button" class="button__header"><span class="button__text">Buy now</span></button>
            <ul>
                <li>Home</li>
                <li>About us</li>
                <li>How it's made</li>
                <li>Our products</li>
                <li>Contact</li>
            </ul>
        </div>
    </container>
</header>