<header class="pageheader" id="home">
    <div class="container header">
        <a href="#" class="logo">
            <img
            srcset="/images/logo/199.png 1x, /images/logo/199@2x.png 2x"
            src="/images/logo/199.png"
            alt="logo">
        </a>

        <button class="menu-button" aria-expanded="false" aria-controls="menu-container" data-menu-button>
            <span></span>
            <span></span>
            <span></span>
        </button>

        <div class="menu-container" id="menu-container" data-menu>
            <button type="button" class="btn-primary">
                <span class="button__text">Buy now</span><span class="button__sign">></span>
            </button>
            <nav class="navigation">
                <ul class="navigation-links">
                    <li class="navigation-links__item">
                        <a href="#home" class="navigation-links__link">Home</a>
                    </li>

                    <li class="navigation-links__item">
                        <a href="#reviews" class="navigation-links__link">About us</a>
                    </li>

                    <li class="navigation-links__item">
                        <a href="#about" class="navigation-links__link">How it's made</a>
                    </li>

                    <li class="navigation-links__item">
                        <a href="#products" class="navigation-links__link">Our products</a>
                    </li>

                    <li class="navigation-links__item">
                        <a href="#contacts" class="navigation-links__link">Contact</a>
                    </li>
                </ul>
            </nav>
            
        </div>

        <button type="button" class="btn-primary for-tablet">
            <span class="button__text">Buy now</span><span class="button__sign">></span>
        </button>
    </div>
</header>

