
<section class="hero-section">
<div class="conteiner">
    <!-- header -->
    <div></div>
     <!-- hero -->
     <div class="hero"></div>
<h1 class="hero-title">ice cream made with passion</h1>
<h2></h2>
<ul class="hero__list">
    <li class="hero__item"><button class="hero__button">Products</button></li>
    <li class="hero__item"><button class="hero__button">How it’s made?</button></li>
    <picture class="hero__bottle-img">
        <source media="(min-width:1280px)" srcset="./../images/header_hero/milkbottle/desc-188@.webp 1x, ../images/header_hero/milkbottle/desc-376@2x.webp 2x" type="image/webp">
        <source media="(min-width:1280px)" srcset="../images/header_hero/milkbottle/desc-188@.png 1x, ../images/header_hero/milkbottle/-376@2x.png 2x" type="imege/png">
        <source media="(min-width:768px)" srcset="../images/header_hero/milkbottle/tab124.webp 1x, ../images/header_hero/milkbottle/tab-248@2x.webp 2x" type="image/webp">
        <source media="(min-width:768px)" srcset="../images/header_hero/milkbottle/tab-124@.png 1x, ../images/header_hero/milkbottle/tab-248@2x.png 2x" type="imege/png">

        <img src="../images/header_hero/milkbottle/desc-188@.png" alt="milkbottle">
    </picture>
    <p class="hero__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et</p>
    <div class="box">
        <p class="box__number">16</p>
        <p class="box__text">cafes</p>
    </div >
    <div class="box">
        <p class="box__number">23</p>
        <p class="box__text">food trucks</p>
    </div>
    <picture class="hero__maine-img">
        <source media="(min-width:1280px)" srcset="./../images/header_hero/icecream/desc-236@.webp 1x, ../images/header_hero/icecream/desc-342@2x.webp 2x" type="image/webp">
        <source media="(min-width:1280px)" srcset="../images/header_hero/icecream/desc-236.png 1x, ../images/header_hero/icecream/-342@2x.png 2x" type="imege/png">
        <source media="(min-width:768px)" srcset="../images/header_hero/icecream/tab124.webp 1x, ../images/header_hero/icecream/tab-248@2x.webp 2x" type="image/webp">
        <source media="(min-width:768px)" srcset="../images/header_hero/icecream/tab-124@.png 1x, ../images/header_hero/icecream/tab-248@2x.png 2x" type="imege/png">

        <source media="(max-width:480px)" srcset="../images/header_hero/icecream/mob-171.webp 1x, ../images/header_hero/icecream/mob342@2x.webp 2x" type="image/webp">
        <source media="(max-width:480px)" srcset="../images/header_hero/icecream/mob-171@.png 1x, ../images/header_hero/icecream/mob342@2x.png 2x" type="imege/png">

        <img src="../images/header_hero/icecream/desc-236.png" alt="icecream">
    </picture>
    <picture class="hero__icecreamgirl-img">
        <source media="(min-width:1280px)" srcset="./../images/header_hero/icecreamgirl/desc-293@.webp 1x, ../images/header_hero/icecreamgirl/desc-586@2x.webp 2x" type="image/webp">
        <source media="(min-width:1280px)" srcset="../images/header_hero/icecreamgirl/desc-293@.png 1x, ../images/header_hero/icecreamgirl/desc-586@2x.png 2x" type="imege/png">
        <source media="(min-width:768px)" srcset="../images/header_hero/icecreamgirl/tab168.webp 1x, ../images/header_hero/icecreamgirl/tab-336@2x.webp 2x" type="image/webp">
        <source media="(min-width:768px)" srcset="../images/header_hero/icecreamgirl/tab-168@.png 1x, ../images/header_hero/icecreamgirl/tab-336@2x.png 2x" type="imege/png">

        <img src="../images/header_hero/icecreamgirl/desc-293.png" alt="icecreamgirl">
    </picture>
</ul>
</div>
</section>