<section class="hero-section">
  <div class="container hero-container">
    <picture>
      <source
        media="(min-width:1280px)"
        srcset="/images/hero/icecream/desc-236.webp 1x, /images/hero/icecream/desc-472@2x.webp 2x"
        type="image/webp"
      />
      <source
        media="(min-width:1280px)"
        srcset="/images/hero/icecream/desc-236.png 1x, /images/hero/icecream/desc-472@2x.png 2x"
        type="image/png"
      />
      <source
        media="(min-width:768px)"
        srcset="/images/hero/icecream/tab-143.webp 1x, /images/hero/icecream/tab-286@2x.webp 2x"
        type="image/webp"
      />
      <source
        media="(min-width:768px)"
        srcset="/images/hero/icecream/tab-143.png 1x, /images/hero/icecream/tab-286@2x.png 2x"
        type="image/png"
      />
      <source
        media="(max-width:767px)"
        srcset="/images/hero/icecream/mob-171.webp 1x, /images/hero/icecream/mob-342@2x.webp 2x"
        type="image/webp"
      />
      <source
        media="(max-width:767px)"
        srcset="/images/hero/icecream/mob-171.png 1x, /images/hero/icecream/mob-342@2x.png 2x"
        type="image/png"
      />
      <img src="/images/hero/icecream/desc-236.png" alt="icecream" class="hero__main-img" />
    </picture>
    <h1 class="header__title">
      ice cream made with <span class="header__title--accentWord">passion</span>
    </h1>

    <ul class="hero__buttonList">
      <li class="hero__buttonItem">
        <a href="#products"> <button class="hero__button hero__buttonProduct">Products</button> </a>
      </li>
      <li class="hero__buttonItem">
        <a href="#about"><button class="hero__button">How it's made?</button></a>
      </li>
    </ul>
  </div>
</section>
