<section>
<div>
<h1></h1>
<h2></h2>
<ul>
    <li><button></button></li>
    <li><button></button></li>
    <picture>
        <source media="(min-width:1200px)" srcset="./../images/header_hero/milkbottle/desc-188@.png 1x, ../images/header_hero/milkbottle/desc-188@.png 2x" type="image/webp">
        <source media="(min-width:1200px)" srcset="../images/header_hero/milkbottle/desc-188@.png 1x, ../images/header_hero/milkbottle/desc-188@.png 2x" type="imege/png">
        <source media="(min-width:768px)" srcset="../images/header_hero/milkbottle/desc-188@.png 1x, ../images/header_hero/milkbottle/desc-188@.png 2x" type="image/webp">
        <source media="(min-width:768px)" srcset="../images/header_hero/milkbottle/desc-188@.png 1x, ../images/header_hero/milkbottle/desc-188@.png 2x" type="imege/png">

        <img src="../images/header_hero/milkbottle/desc-188@.png" alt="milkbottle">
    </picture>
    <p></p>
    <div>
        <p></p>
        <p></p>
    </div>
    <div>
        <p></p>
        <p></p>
    </div>
    <picture>
        <source media="(min-width:1200px)" srcset="./img/img-4.jpg 1x, ./img/des.com1.2x.webp 2x" type="image/webp">
        <source media="(min-width:1200px)" srcset="./img/img-4.jpg 1x, ./img/des.com1.2x.jpg 2x" type="imege/png">
        <source media="(min-width:768px)" srcset="./img/tab.com1.jpg 1x, ./img/tab.com1.2x.webp 2x" type="image/webp">
        <source media="(min-width:768px)" srcset="./img/mob.com1.jpg 1x, ./img/mob.com1.2x.jpg 2x" type="imege/png">
        <source media="(min-width:768px)" srcset="./img/tab.com1.jpg 1x, ./img/tab.com1.2x.webp 2x" type="image/webp">
        <source media="(min-width:768px)" srcset="./img/mob.com1.jpg 1x, ./img/mob.com1.2x.jpg 2x" type="imege/png">
        <img src="./img/img-4.jpg" alt="icecream">
    </picture>
    <picture>
        <source media="(min-width:1200px)" srcset="./img/img-4.jpg 1x, ./img/des.com1.2x.webp 2x" type="image/webp">
        <source media="(min-width:1200px)" srcset="./img/img-4.jpg 1x, ./img/des.com1.2x.jpg 2x" type="imege/png">
        <source media="(min-width:768px)" srcset="./img/tab.com1.jpg 1x, ./img/tab.com1.2x.webp 2x" type="image/webp">
        <source media="(min-width:768px)" srcset="./img/mob.com1.jpg 1x, ./img/mob.com1.2x.jpg 2x" type="imege/png">
        <img src="./img/img-4.jpg" alt="icecreamgirl">
    </picture>
</ul>
</div>
</section>