<!-- -------------------------------------- header starts--------------------------------------------- -->

<section class="hero-header-section">
  <header class="pageheader" id="home">
    <div class="container header">
      <a href="#" class="logo">
        <img
          srcset="/images/logo/199.png 1x, /images/logo/199@2x.png 2x"
          src="/images/logo/199.png"
          alt="logo"
        />
      </a>

      <button
        class="menu-button"
        aria-expanded="false"
        aria-controls="menu-container"
        data-menu-button
      >
        <span></span>
        <span></span>
        <span></span>
      </button>

      <div class="menu-container" id="menu-container" data-menu>
        <button type="button" class="btn-primary">
          <span class="button__text">Buy now</span><span class="button__sign">></span>
        </button>
        <nav class="navigation">
          <ul class="navigation-links">
            <li class="navigation-links__item">
              <a href="#home" class="navigation-links__link">Home</a>
            </li>

            <li class="navigation-links__item">
              <a href="#reviews" class="navigation-links__link">About us</a>
            </li>

            <li class="navigation-links__item">
              <a href="#about" class="navigation-links__link">How it's made</a>
            </li>

            <li class="navigation-links__item">
              <a href="#products" class="navigation-links__link">Our products</a>
            </li>

            <li class="navigation-links__item">
              <a href="#contacts" class="navigation-links__link">Contact</a>
            </li>
          </ul>
        </nav>
      </div>

      <button type="button" class="btn-primary for-tablet">
        <span class="button__text">Buy now</span><span class="button__sign">></span>
      </button>
    </div>
  </header>

  <!-- -------------------------------------- header ends --------------------------------------------- -->

  <!-- -------------------------------------- hero starts --------------------------------------------- -->
  <div class="container hero-container">
    <picture>
      <source
        media="(min-width:1280px)"
        srcset="/images/hero/icecream/desc-236.webp 1x, /images/hero/icecream/desc-472@2x.webp 2x"
        type="image/webp"
      />
      <source
        media="(min-width:1280px)"
        srcset="/images/hero/icecream/desc-236.png 1x, /images/hero/icecream/desc-472@2x.png 2x"
        type="image/png"
      />
      <source
        media="(min-width:768px)"
        srcset="/images/hero/icecream/tab-143.webp 1x, /images/hero/icecream/tab-286@2x.webp 2x"
        type="image/webp"
      />
      <source
        media="(min-width:768px)"
        srcset="/images/hero/icecream/tab-143.png 1x, /images/hero/icecream/tab-286@2x.png 2x"
        type="image/png"
      />
      <source
        media="(max-width:767px)"
        srcset="/images/hero/icecream/mob-171.webp 1x, /images/hero/icecream/mob-342@2x.webp 2x"
        type="image/webp"
      />
      <source
        media="(max-width:767px)"
        srcset="/images/hero/icecream/mob-171.png 1x, /images/hero/icecream/mob-342@2x.png 2x"
        type="image/png"
      />
      <img src="/images/hero/icecream/desc-236.png" alt="icecream" class="hero__main-img" />
    </picture>
    <h1 class="header__title">
      ice cream made with <span class="header__title--accentWord">passion</span>
    </h1>
    <!-- ------------------------------  Background Ellipse ------------------------------- -->
    <div class="background-ellipse"></div>

    <!-- ------------------------------  Background Girl ------------------------------- -->
    <picture>
      <source
        media="(min-width:1280px)"
        srcset="
          /images/hero/icecreamgirl/desc-293.webp    1x,
          /images/hero/icecreamgirl/desc-586@2x.webp 2x
        "
        type="image/webp"
      />
      <source
        media="(min-width:1280px)"
        srcset="
          /images/hero/icecreamgirl/desc-293.png    1x,
          /images/hero/icecreamgirl/desc-586@2x.png 2x
        "
        type="image/png"
      />
      <source
        media="(min-width:768px)"
        srcset="
          /images/hero/icecreamgirl/tab-168.webp    1x,
          /images/hero/icecreamgirl/tab-336@2x.webp 2x
        "
        type="image/webp"
      />
      <source
        media="(min-width:768px)"
        srcset="
          /images/hero/icecreamgirl/tab-168.png    1x,
          /images/hero/icecreamgirl/tab-336@2x.png 2x
        "
        type="image/png"
      />
      <img src="/images/hero/icecreamgirl/desc-293.png" alt="icecreamgirl" class="hero__Girl" />
    </picture>

    <!-- ------------------------------  Background Girl ends ------------------------------- -->

    <ul class="hero__buttonList">
      <li class="hero__buttonItem">
        <a href="#products">
          <button class="hero__button hero__buttonProduct">Products</button>
        </a>
      </li>
      <li class="hero__buttonItem">
        <a href="#about"><button class="hero__button">How it's made?</button></a>
      </li>
    </ul>
    <div class="hero__milkContainer">
      <picture>
        <source
          media="(min-width: 1280px)"
          srcset="
            /images/hero/milkbottle/desc-188@.png   1x,
            /images/hero/milkbottle/desc-376@2x.png 2x
          "
          type="image/png"
        />
        <source
          media="(min-width: 768px)"
          srcset="
            /images/hero/milkbottle/tab-124.webp    1x,
            /images/hero/milkbottle/tab-248@2x.webp 2x
          "
          type="image/webp"
        />
        <source
          media="(min-width: 768px)"
          srcset="/images/hero/milkbottle/tab-124.png 1x, /images/hero/milkbottle/tab-248@2x.png 2x"
          type="image/png"
        />

        <img src="/images/hero/milkbottle/desc-188@.png" alt="milkBottle" class="hero__milkImage" />
      </picture>

      <!-- ---------------------------  hero__milkTextContainer  --------------------------------- -->
      <div class="hero__milkTextContainer">
        <p class="hero__milkText">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt
          ut labore et
        </p>
        <button type="button" class="hero__milkButton">
          <svg width="10" height="10" class="hero__milkButtonSvg">
            <use href="/images/spriteNata.svg#products-arrow"></use>
          </svg>
        </button>
      </div>

      <div class="hero__boxNumbersContainer">
        <div>
          <p class="hero__boxNumber">16</p>
          <p class="hero__boxText">cafes</p>
          <div class="hero__boxCircleOne"></div>
        </div>

        <div>
          <p class="hero__boxNumber">23</p>
          <p class="hero__boxText">food trucks</p>
          <div class="hero__boxCircleTwo"></div>
        </div>
      </div>
    </div>

    <!-- <div class="box-elipse">
        <div class="white-elipse-first">
          <div class="box">
            <p class="box__number">16</p>
            <p class="box__text">cafes</p>
          </div>
        </div>

        <div class="white-elipse-second">
          <div class="box">
            <p class="box__number">23</p>
            <p class="box__text">food trucks</p>
          </div>
        </div>
      </div> -->
  </div>
</section>

<!-- -------------------------------------- hero ends --------------------------------------------- -->
