<div id="popup" class="popup">
  <div class="popup__body">
    <div class="popup__content">
      <a href="" class="popup__close"></a>
      <ul class="popup__map-list">
        <li class="popup__location">
          <p class="popup__title">Chicago</p>
          <div style="width: 100%">
            <iframe
              width="720"
              height="600"
              frameborder="0"
              scrolling="no"
              marginheight="0"
              marginwidth="0"
              src="https://maps.google.com/maps?width=720&amp;height=600&amp;hl=en&amp;q=12%20S%20Clark%20St,%20Chicago+(IceCream)&amp;t=&amp;z=14&amp;ie=UTF8&amp;iwloc=B&amp;output=embed"
              ><a href="https://www.gps.ie/golf-gps/">golf gps watch</a></iframe
            >
          </div>
        </li>
        <li class="popup__location">
          <p class="popup__title">New-York</p>
          <div class="popup__map" style="width: 100%">
            <iframe
              width="720"
              height="600"
              frameborder="0"
              scrolling="no"
              marginheight="0"
              marginwidth="0"
              src="https://maps.google.com/maps?width=720&amp;height=600&amp;hl=en&amp;q=12%20richardson%20st%20new-york+(IceCream)&amp;t=&amp;z=14&amp;ie=UTF8&amp;iwloc=B&amp;output=embed"
              ><a href="https://www.gps.ie/golf-gps/">golf gps</a></iframe
            >
          </div>
        </li>
      </ul>
    </div>
  </div>
</div>
