<section class="section products__section" id="products">
  <div class="container">
    <p class="sub-title products__label">100% natural</p>
    <h2 class="title products__title">products</h2>
    <ul class="products__list list">
      <li class="products__item products__item--pink">
        <h3 class="products__subtitle">ice cream</h3>
        <div class="products__text products__text--pink">
          <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
            incididunt ut labore et. dolore magna aliqua facilisis.
          </p>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
            incididunt ut labore et. dolore magna aliqua facilisis.
          </p>
        </div>
        <button
          class="products__button products__button--pink"
          type="button"
          aria-label="read more button"
          data-menu-pink
        >
          <svg class="products__icon">
            <use href="/images/spriteNata.svg#products-arrow"></use>
          </svg>
        </button>
      </li>
      <li class="products__item products__item--yellow">
        <h3 class="products__subtitle">ice coffee</h3>
        <div class="products__text products__text--yellow">
          <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
            incididunt ut labore et. dolore magna aliqua facilisis.
          </p>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
            incididunt ut labore et. dolore magna aliqua facilisis.
          </p>
        </div>
        <button
          class="products__button products__button--yellow"
          type="button"
          aria-label="read more button"
          data-menu-yellow
        >
          <svg class="products__icon">
            <use href="/images/spriteNata.svg#products-arrow"></use>
          </svg>
        </button>
      </li>
      <li class="products__item products__item--green">
        <h3 class="products__subtitle">milkshakes</h3>
        <div class="products__text products__text--green">
          <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
            incididunt ut labore et. dolore magna aliqua facilisis.
          </p>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
            incididunt ut labore et. dolore magna aliqua facilisis.
          </p>
        </div>
        <button
          class="products__button products__button--green"
          type="button"
          aria-label="read more button"
          data-menu-green
        >
          <svg class="products__icon">
            <use href="/images/spriteNata.svg#products-arrow"></use>
          </svg>
        </button>
      </li>
    </ul>
  </div>
</section>
