@media (max-width: 480px) {

    .hero-section{
    background-color: #FFB8CA;}
    .conteiner{
        max-width: 480px;
    }
    .hero{
        position: relative;
    }

    .hero-title{
font-family: Titan One;
font-style: normal;
font-weight: normal;
font-size: 26px;
line-height: 30px;
letter-spacing: 0.04em;
text-transform: uppercase;
color: #FFFFFF;
    }

.hero__list{}

.hero__item{}

.hero__button{
font-family: DM Sans;
font-style: normal;
font-weight: normal;
font-size: 8px;
line-height: 10px;
display: flex;
align-items: center;
text-align: center;
color: #FFFFFF;
}
.hero__maine-img{
    width: 171px;
    height: 410px;
    display: block;
    max-width: 100%;
    height: auto;
}


}