@media (min-width: 768px) and (max-width: 1279px) {
    .hero-section{
        background-color: #FFB8CA;
    }
    .conteiner{
        width: 768px;
    }
.hero{
    position: relative;
}
.hero-title{
font-family: Titan One;
font-style: normal;
font-weight: normal;
font-size: 22px;
line-height: 25px;
letter-spacing: 0.04em;
text-transform: uppercase;
color: #FFFFFF;
}

.hero__list{}

.hero__item{}

.hero__button{
font-family: DM Sans;
font-style: normal;
font-weight: normal;
font-size: 8px;
line-height: 10px;
display: flex;
align-items: center;
text-align: center;
color: #D41443;
}

.hero__text{
font-family: DM Sans;
font-style: normal;
font-weight: normal;
font-size: 8px;
line-height: 150%;
color: #FFFFFF;
}

.box{}

.box__number{
font-style: normal;
font-weight: normal;
font-size: 28px;
line-height: 32px;
text-align: right;
letter-spacing: 0.04em;
text-transform: uppercase;
color: #D41443;
}

.box__text{
font-family: DM Sans;
font-style: normal;
font-weight: normal;
font-size: 8px;
line-height: 10px;
text-align: right;
color: #FFFFFF;
}
.hero__bottle-img{
    width: 124px;
    height: 126px; 
    display: block;
    max-width: 100%;
    height: auto;
}
.hero__maine-img{ 
    width: 143px;
    height: 336px;
    display: block;
    max-width: 100%;
    height: auto;}

.hero__icecreamgirl-img{
    width: 168px;
    height: 133px;
    display: block;
    max-width: 100%;
    height: auto;
}

}