@media (min-width: 1280px) and (max-width: 1920px) {
.hero-section{
    background-color: #FFB8CA;
}
.conteiner{
    width: 1280px;
}
.hero{
    position: relative;
}
.hero-title{
font-family: Titan One;
font-style: normal;
font-weight: normal;
font-size: 38px;
line-height: 44px;
letter-spacing: 0.04em;
text-transform: uppercase;
color: #FFFFFF;
}

.hero__list{}

.hero__item{}

.hero__button{
font-family: DM Sans;
font-style: normal;
font-weight: normal;
font-size: 14px;
line-height: 18px;
display: flex;
align-items: center;
text-align: center;
color: #D41443;
}

.hero__text{
font-family: DM Sans;
font-style: normal;
font-weight: normal;
font-size: 14px;
line-height: 140%;
color: #FFFFFF;
}

.box{}

.box__number{
font-family: Titan One;
font-style: normal;
font-weight: normal;
font-size: 46px;
line-height: 53px;
text-align: right;
letter-spacing: 0.04em;
text-transform: uppercase;
color: #D41443;
}

.box__text{
font-family: DM Sans;
font-style: normal;
font-weight: normal;
font-size: 14px;
line-height: 18px;
text-align: right;
color: #FFFFFF;
}
.hero__bottle-img{
    width: 188px;
    height: 191px;
    display: block;
    max-width: 100%;
    height: auto;
}
.hero__maine-img{
    width: 236px;
    height: 557px;
    display: block;
    max-width: 100%;
    height: auto;
}
.hero__icecreamgirl-img{
    width: 293px;
    height: 232px;
    display: block;
    max-width: 100%;
    height: auto;
    margin: 12px;
}



}